/* ========
   Base
   ======== */
html,
body {
  height: 100%;
}
body {
  background-color: #f5f5f5;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #333;
}
/* Lists */
ul.list-style-hand {
  list-style-type: none;
}
ul.list-style-hand li:before {
  display: inline-block;
  content: "\f10c";
  font: normal normal normal 0.8em/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #ff7878;
  margin-right: 10px;
  font-size: 8px;
  line-height: 1;
  position: relative;
  top: -3px;
}
/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}
/* Links */
a {
  color: #f85c37;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}
a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/* ===============================
   Main header
   =============================== */
.main-header {
  margin-top: -20px;
  padding-top: 20px;
  text-align: center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-header h1 {
  margin-top: 100px;
  color: white;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}
.main-header h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* Dark Grey Wrap */
.dark-gray-wrap {
  background: #ebebeb;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
.dark-gray-wrap h4 {
  font-weight: 700;
}
.dark-gray-wrap i.fa {
  font-size: 50px;
}
.light-grey-wrap {
  background: #e0e0e0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
.light-grey-wrap h4 {
  font-weight: 700;
}
/* Red Wrap */
.red-wrap {
  background: #ff7878;
  padding-top: 35px;
  padding-bottom: 35px;
}
.red-wrap h4 {
  color: #ffffff;
  font-weight: 700;
}
.red-wrap p {
  color: #ffffff;
}
/* Blue Wrap */
.blue-wrap {
  background: #3498db;
  padding-top: 35px;
  padding-bottom: 35px;
}
.blue-wrap h4 {
  color: #ffffff;
  font-weight: 700;
}
.blue-wrap p {
  color: #ffffff;
}
/* Footer Wrap */
.footer-wrap {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-wrap i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;
}
.footer-wrap i:hover {
  color: #ff7878;
}
/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.centered {
  text-align: center;
}
.soc-block {
  margin-bottom: 60px;
}
/* ==========================================================================
   Font Awesome style
   ========================================================================== */
i.fa {
  color: #ff7878;
}
.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border-radius: 0;
}
.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #ff7878;
}
.navbar .navbar-header {
  float: left;
  display: inline-block;
}
.navbar .navbar-right {
  float: right;
}
.navbar .navbar-right li {
  display: inline-block;
}
.navbar .navbar-brand {
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 25px;
  text-transform: none;
}
@media (max-width: 768px) {
  .navbar .navbar-right {
    margin: 0;
  }
  .navbar .navbar-right li a {
    padding: 5px 15px;
  }
}
.navbar .navbar-brand img {
  height: 100%;
  margin-right: 3px;
  display: inline-block;
}
.navbar .navbar-brand span {
  display: inline-block;
  position: relative;
  top: 2px;
}
.navbar .profile-icon {
  float: right;
  height: 50px;
}
.navbar .profile-icon img {
  height: 100%;
}
.navbar .profile-icon .caret {
  color: #9d9d9d;
}
.navbar .profile-icon .dropdown-menu {
  left: auto;
  right: 0;
}
.navbar .profile-icon .dropdown-menu .account-block {
  text-align: center;
  padding: 15px;
  text-transform: none;
}
.navbar .profile-icon .dropdown-menu .account-block .info {
  margin-bottom: 10px;
}
.navbar .profile-icon .dropdown-menu .account-block .info .name {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .navbar .profile-icon {
    height: 30px;
  }
}
.nav-pills > li > a {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 -3px 0 0 #ccc;
  -moz-box-shadow: inset 0 -3px 0 0 #ccc;
  box-shadow: inset 0 -3px 0 0 #ccc;
  color: #555;
  margin-bottom: 10px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #eee;
  color: #555;
  -webkit-box-shadow: inset 0 3px 0 0 #ccc;
  -moz-box-shadow: inset 0 3px 0 0 #ccc;
  box-shadow: inset 0 3px 0 0 #ccc;
}
@media (max-width: 768px) {
  .nav-pills {
    text-align: center;
  }
  .nav-pills > li {
    float: none;
    display: inline-block;
  }
}
.nav-pills-sm > li > a {
  padding: 6px 10px;
  font-size: 0.9em;
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  background: #bdbdbd;
  color: white;
}
.modal-header h4 {
  font-weight: 700;
}
.modal-body {
  background: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
}
.modal-footer {
  background: #f2f2f2;
  margin-top: 0;
}
.navbar-inverse .navbar-toggle {
  border-color: #555;
}
.navbar-toggle[data-toggle="offcanvas"] {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.user-sidebar {
  position: fixed;
  top: 81px;
  left: 0;
  min-height: 100%;
  z-index: 1001;
  background-color: #fff;
  margin-bottom: 20px;
  border-right: 1px solid #ddd;
  -webkit-box-shadow: 1px 0 3px 0 #797979;
  -moz-box-shadow: 1px 0 3px 0 #797979;
  box-shadow: 1px 0 3px 0 #797979;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
.user-sidebar li {
  white-space: nowrap;
  overflow: hidden;
}
.user-sidebar li > a {
  max-height: 100%;
  color: #555;
  font-size: 16px;
  padding: 15px;
}
.user-sidebar li > a i.fa {
  color: #555;
  font-size: inherit;
  margin-left: 0;
  width: 35px;
}
.user-sidebar li > a span {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.user-sidebar li.active:before {
  display: block;
  content: '';
  height: 100%;
  width: 4px;
  background: #ff7878;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.user-sidebar li:hover {
  background-color: #f6f9fb;
}
.user-sidebar li:hover > a {
  background-color: transparent;
}
.user-sidebar li.active,
.user-sidebar li.active:hover {
  background-color: #f2dede;
}
.user-sidebar li.active > a,
.user-sidebar li.active:hover > a {
  font-weight: bold;
}
.user-sidebar + .canvas {
  margin-top: 81px;
  padding: 20px 0 20px 50px;
  -webkit-transition: padding-left 0.3s;
  -moz-transition: padding-left 0.3s;
  -ms-transition: padding-left 0.3s;
  -o-transition: padding-left 0.3s;
  transition: padding-left 0.3s;
}
.user-sidebar .account {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  white-space: nowrap;
}
.user-sidebar .account > a {
  display: inline-block;
  vertical-align: middle;
}
.user-sidebar .account > a i.fa {
  display: none;
  position: relative;
  left: 1px;
}
.user-sidebar .account > a img {
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  padding: 4px;
}
.user-sidebar .account > .info {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.user-sidebar .account > .info .name {
  margin-bottom: 5px;
  font-weight: bold;
}
.user-sidebar .account > .info .points {
  margin-bottom: 5px;
}
.user-sidebar .sidebar-toggle {
  float: none;
  display: inline-block;
  border: none;
  margin: 10px 0;
  padding: 10px 15px;
  left: 0;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.user-sidebar .sidebar-toggle .icon-bar {
  background-color: #555;
  width: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.user-sidebar.full {
  width: 250px;
}
.user-sidebar.full + .canvas {
  padding-left: 250px;
}
.user-sidebar.full li > a span {
  opacity: 1;
}
.user-sidebar.full .account .info {
  height: auto;
}
.user-sidebar.full .sidebar-toggle {
  left: 200px;
}
.user-sidebar.full .sidebar-toggle .icon-bar:first-child {
  -webkit-transform: translateY(6px) rotate(45deg);
  -moz-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}
.user-sidebar.full .sidebar-toggle .icon-bar:first-child + .icon-bar {
  opacity: 0;
}
.user-sidebar.full .sidebar-toggle .icon-bar:last-child {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -moz-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}
.user-sidebar.minimize {
  width: 50px;
}
.user-sidebar.minimize + .canvas {
  padding-left: 50px;
}
.user-sidebar.minimize li > a span {
  opacity: 0;
}
.user-sidebar.minimize .account .info {
  height: 0;
}
.user-sidebar.minimize .account > a i.fa {
  display: inline-block;
}
.user-sidebar.minimize .account > a img {
  display: none;
}
.user-sidebar.minimize .sidebar-toggle {
  left: 0;
}
@media (max-width: 768px) {
  .sidebar-toggle {
    padding: 7px;
    margin: 0 0 0 15px;
  }
  .user-sidebar {
    width: 50px;
  }
  .user-sidebar + .canvas {
    padding-left: 50px;
  }
  .user-sidebar li > a span {
    opacity: 0;
  }
  .user-sidebar .account .info {
    height: 0;
  }
  .user-sidebar .account > a i.fa {
    display: inline-block;
  }
  .user-sidebar .account > a img {
    display: none;
  }
  .user-sidebar .sidebar-toggle {
    left: 0;
  }
  .user-sidebar + .canvas {
    margin-top: 61px;
  }
  .user-sidebar.full .account > a i.fa {
    display: none;
  }
  .user-sidebar.full .account > a img {
    display: inline-block;
  }
  .user-sidebar.full + .canvas {
    padding-left: 50px;
  }
  .navbar .navbar-brand {
    height: 30px;
  }
  .navmenu-fixed-left {
    top: 61px;
  }
}
/**
Task list
 */
.task-list .item {
  position: relative;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 20px 10px 15px;
  -webkit-box-shadow: 1px 1px 3px 0 #797979;
  -moz-box-shadow: 1px 1px 3px 0 #797979;
  box-shadow: 1px 1px 3px 0 #797979;
  overflow: hidden;
  background-color: #fff;
}
.task-list .item .btn-remove {
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 0;
  padding: 0;
}
.task-list .item .info {
  margin-bottom: 10px;
}
.task-list .item img {
  width: 100px;
  height: 100px;
  padding: 4px;
  border: 1px solid #ddd;
  background-color: inherit;
}
.task-list .item .name {
  font-size: 16px;
}
.task-list .item .actions {
  display: block;
  height: 34px;
}
.task-list .item .actions .btn {
  display: inline-block;
}
.task-list .item .actions .check-task {
  display: none;
}
.task-list .item .actions .btn i.fa {
  color: #ffffff;
  margin-right: 4px;
  font-size: 10px;
}
.user-my-tasks .tools {
  margin-bottom: 15px;
}
.my-tasks-list .summary {
  margin-bottom: 15px;
}
.my-tasks-list .task {
  padding: 10px;
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 3px 0 #797979;
  -moz-box-shadow: 1px 1px 3px 0 #797979;
  box-shadow: 1px 1px 3px 0 #797979;
  overflow: hidden;
  background-color: #fff;
}
.my-tasks-list .task .details {
  margin-bottom: 15px;
}
.my-tasks-list .task img {
  width: 70px;
  height: 70px;
}
.my-tasks-list .task .info {
  font-size: 20px;
}
.my-tasks-list .task .status {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  font-weight: bold;
}
.my-tasks-list .task .status a {
  color: #333;
}
.my-tasks-list .task .status i.fa {
  color: #333;
  margin-left: 5px;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -7px;
  font-size: 14px;
  height: 14px;
}
.my-tasks-list .task .status div {
  z-index: 1000;
  position: relative;
}
.my-tasks-list .task .status .progress-bar {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #def7d7;
}
.my-tasks-list .task .tools {
  border-top: 1px solid #ddd;
  padding: 15px 0 15px 0;
  margin-top: 10px;
}
.my-tasks-list .task .tools i.fa {
  margin-right: 5px;
}
.user-tasks .filter {
  margin-bottom: 30px;
}
.eauth .eauth-list {
  margin: 0;
}
.eauth .eauth-list li.eauth-service {
  display: block;
  text-align: center;
  margin: 0 0 15px;
}
.eauth .eauth-list li.eauth-service .eauth-service-link {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ddd;
}
.eauth .eauth-list li.eauth-service .eauth-service-link:before,
.eauth .eauth-list li.eauth-service .eauth-service-link:after {
  left: 10px;
  margin-left: 0;
  top: 50%;
  margin-top: -16px;
}
form .custom-radio {
  margin-right: 5px;
}
form .custom-radio:last-child {
  margin-right: 0;
}
form .custom-radio input[type=radio] {
  position: absolute;
  left: -10000px;
}
form .custom-radio input[type=radio]:checked ~ label {
  background-color: #eee;
  color: #555;
  -webkit-box-shadow: inset 0 3px 0 0 #ccc;
  -moz-box-shadow: inset 0 3px 0 0 #ccc;
  box-shadow: inset 0 3px 0 0 #ccc;
}
form .custom-radio input[type=radio][disabled] ~ label {
  opacity: 0.8;
  cursor: not-allowed;
}
form .custom-radio label {
  background-color: #fff;
  -webkit-box-shadow: inset 0 -3px 0 0 #ccc;
  -moz-box-shadow: inset 0 -3px 0 0 #ccc;
  box-shadow: inset 0 -3px 0 0 #ccc;
  color: #555;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 14px;
}
form .custom-radio.inline {
  display: inline-block;
}
form .custom-radio-list-sm label {
  padding: 8px 10px;
  font-size: 0.8em;
}
form label.radio-inline {
  margin-bottom: 5px;
}
form .radio-inline + .radio-inline {
  margin-left: 0;
}
form .form-group .help-block {
  line-height: 1.4;
}
.task-filter-form .form-group {
  margin-bottom: 4px;
}
.task-filter-form .help-block {
  display: none;
}
